.add-blog {
    padding-bottom: 110px;
    background: rgba(251, 250, 255, 1);
    .form-submit {
        display: flex;
        justify-content: end;
    }
    .pd-form-text {
        margin-top: 24px;
    }
    .navbar .container{
        justify-content: center;
    }
    .add-blog-form {
        padding-top: 7.5rem;
        display: flex;
        flex-direction: column;
        margin-left: 25%;
        width: 600px;

   
        .form-error {
            margin-top: 8px;
            margin-left: 20px;
            
            li {
                color: #85858D;
                font-size: 12px;
                font-weight: 400;
                margin-top: 6px;
            }
        }
        .form-error-none {
            margin-left: 0px;

            li {
                list-style: none;
            }
        }
        .form-email-input::placeholder {
            color: #85858D;
        }
        .form-submit {
            margin-top: 40px;
        }
        .form-submit button {
            width: 288px;
            padding: 10px 20px; 
            gap: 10px;
            border-radius: 8px;
            background: #E4E3EB;
            border: none;
            color: white;
            font-size: 14px;
            font-weight: 500;
        }
        input, textarea {
            border-radius: 12px;
            border: 1px solid #E4E3EB;
            background: #FCFCFD;
            text-indent: 16px;
            color: #1A1A1F;
            font-size: 14px;
            font-weight: 400;
        }
        input, textarea::placeholder {
            color:#85858D;
        }
        input {
            width: 288px;
            height: 44px;
            color:#1A1A1F;
        }  
        .date-input-container {
            position: relative;
        }
        input[type="date"]::-webkit-calendar-picker-indicator {
            background: transparent;
            background-size: 20px;
            width: 120px;
            cursor: pointer;
        }
          
          .date-icon {
            position: absolute;
            left: 16px;
            top: 69%;
            transform: translateY(-50%);
            color: #888;
          }
          
          .date-input {
            padding-left: 16px;
        }
        .uploader {
            margin-top: 40px;

            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px dashed #85858D;
                height: 180px;
                width: 600px;
                background: #F4F3FF;
                cursor: pointer;
                border-radius: 12px;
            }
            form:hover {
                background: #F1EFFB;
            }
            .uploaded-row{
                margin: 10px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 20px;
                border-radius: 5px;
                background-color: #e9f0ff;
            }
            .upload-content{
                display: flex;
                align-items: center;
            }
            .input-field-uploader {
                border: none;
                background: none;
                cursor: pointer;
            }
            .input-field-uploader-text {
                margin-top: 24px;
            }   
            .uploader-a {
                font-weight: 500;
                text-decoration-line: underline;
            }
           
        }
        .form-title {
            margin-left: 24px;
        }
        .add-blog-labels {
            color: #1A1A1F;
            font-size: 14px;
            font-weight: 500;
        }
        .add-blog-title span {
            color: #1A1A1F;
            font-size: 32px;
            font-weight: 700;
        }
        .form-author-title {
            display: flex;
            margin-top: 24px;
        }
        .form-inputs label {
            display: flex;
            flex-direction: column;
        }
        .input-title {
            margin-bottom: 8px;
        }
        .form-description {
            max-width: 600px;

            textarea { 
                resize: none;
                height: 124px;
                padding-top: 12px;
            }
        }
    }
}

.uploaded-image {
    display: flex; 
    justify-content: space-between;
    width: 600px;
    height: 56px;
    border-radius: 12px;
    background: #F2F2FA;
    margin-top: 40px;
    
    .image-remove-form {
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 16px;
        margin-top: 4px;
    }
    form {
        display: none;
    }
    
    .uploaded-image-item {
        display: flex;
        align-items: center;
   
        .selected-image-form {
            color: #1A1A1F;
            font-size: 14px;
            font-weight: 400;
        }
        img {
            margin: 0px 12px;
        }
    }
}


.select-input {
    overflow: scroll !important;
}
.css-b62m3t-container {
    max-width: 300px;
}
.css-1i837h3-ValueContainer2 {
    -webkit-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
    overflow: scroll;
}

.input-container {

width: 288px;
    height: 66px;
    padding: 10px;
    color: #1A1A1F;
    border-radius: 12px;
    border: 1px solid #E4E3EB;
    background: #FCFCFD;
    text-indent: 16px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    overflow-x: auto;
  }
  
  input {
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .buttons-container {
    display: flex;
    width: 70rem;

    button {
        margin-left: 6px;
    }
    .remove-btn {
        background: none;
        border: none;
        color: white;
        cursor: pointer;
    }
}

.form-input-error {
    border: 1px solid #EA1919 !important;

    background: #FAF2F3 !important;
  }
  
  .form-input-correct {
    border: 1px solid #14D81C !important;

    background: #F8FFF8 !important;
  }

  .input-container {
    border: 1px solid #14D81C;

    background: #F8FFF8;
  }
  .isOkayBtn {
    background: #5D37F3 !important;
    cursor: pointer;
  }