.blogs {
    padding-top: 36px;
    background-color: $default-bg-color;
    font-family: 'FiraGO', sans-serif;
    padding-bottom: 66px;
    .container {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 56px 32px;

        .blog {
            display: flex;
            flex-direction: column;
            max-width: 408px;

            .blog-author {
                margin-top: 24px;
                color: #1A1A1F;
                font-size: 16px;
                font-weight: 500;
            }
            .blog-date {
                margin-top: 8px;
                color: #85858D;
                font-size: 12px;
                font-weight: 400;
            }
            .blog-title {
                margin-top: 16px;
                color: #1A1A1F;
                font-size: 20px;
                font-weight: 600;
            }
            .blog-categories {
                margin-top: 16px;
                display: flex;
                gap: 16px;
                flex-wrap: wrap;
               
                .blog-categories-btn {
                    padding: 6px 10px;
                    border: none;
                    border-radius: 30px;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 12px;
                }
                 
            }
            .blog-description {
                margin-top: 16px;
                color: #404049;
                font-size: 16px;
                font-weight: 400;
                max-width: 408px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; 
                -webkit-box-orient: vertical;
              
            }
            .blog-info-btn {
                margin-top: 16px;
                color: #5D37F3;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        img {
            width: 408px;
            height: 328px;
            border-radius: 12px;
        }
        a {
            display: flex;
            align-items: center;
        }
    }
}