.navbar {
    border-bottom: .063rem solid $navbar-bg-color;

    .container {
        height: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}