.slider {
    margin-top: 96px;

    .slider-items {
        z-index: -999 !important;
        position: relative;
    }
    .slider-header {
        display: flex;
        justify-content: space-between;
    
        .slider-title {
            color: #1A1A1F;
            font-size: 32px;
            font-weight: 700;
        }
        .slider-icons {
            display: flex;
            gap: 24px;
            font-size: 30px;

            .disabled {
                cursor: default;
                border: none;
                rect{
                    fill: #E4E3EB;
                    border: none;
                }
            }
            .arrow {
                width: 44px;
                height: 44px;
                border-radius: 50%;
                border: none;
                cursor: pointer;
            }
        }
    }
    .swiper-slide .blogs .container .blog .blog-description {
        max-width: 380px;    
    }
    .slider-card {

        .card{
            img {
                width: 408px;
                height: 328px;
                border-radius: 12px;
            }
            .card-body {
                display: flex;
                flex-direction: column;
                .card-title {
                 
                }
            }
        }
      
        
    }
    
    .slider-blog {
        padding-top: 40px;
    
        .swiper .swiper-initialized .swiper-horizontal .swiper-android {
            display: flex !important;
            justify-content: center !important;
        }
        .slider-blog-container {
            margin: 0 !important;
        }
    }
}