@import './styles/main.scss';
@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:400,500,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: $default-bg-color;
  font-family: 'FiraGO', sans-serif;
}
.container {
  margin: 0 5rem;
}